.advantages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 50px;
    text-align: center;
    background-color: #FFC567;
}

.advantages h2 {
    font-size: 36px;
    color: white;
    margin-bottom: 20px;
}

.advantages p {
    font-size: 20px;
    color: white;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.5;
}
